<!DOCTYPE html>
<html>
    <head>
        <title>Achats en <%= ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'][(mois|0)-1] %></title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300" />
        <link rel="stylesheet" type="text/css" href="../bootstrap-3.3.7-dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="../bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" type="text/css" href="../bootstrap-3.3.7-dist/js/bootstrap.min.js" />
        <style>
            body {
                font-family: 'Roboto';
            }
            
            h2 h3 {
                font-family: 'Roboto Slab', serif;
            }
        </style>
    </head>

    <body>
        
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2>Liste des achats en <%= ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'][(mois|0)-1] %></h2>
                    <% if (rows_achat[2].length == 0) { %>
                        <div>Il n'y a eu aucun achat ce mois-ci.</div>    
                    <% } else {
                    for (var i = 0; i < rows_achat[2].length; i++) { %>
                        <div><%= rows_achat[2][i].INTITULE %></div>
                        <div>Date de l'achat : <%= rows_achat[2][i].DATE %></div>
                        <div>Nombre de personnes concernées : <%= rows_pers[i].NB_PERS_CONCERNE %></div>
                    <% }
                    } %>
                </div>
            </div>
        </div>
        
    </body>
</html>